- @updates.each do |data|
  %ul.chat
    -if session[:name] == data[0]
      %li.user
        %span.text
          #{data[2]}
        %span.img
          %img{:src=>"https://placehold.it/48x48/#{data[1]}/000000/&text=#{data[0][0..2].upcase}"}
    - else
      %h6.align-right
        #{data[0]}
      %li
        %img{:src=>"https://placehold.it/48x48/#{data[1]}/000000/&text=#{data[0][0..2].upcase}"}
        %span
          #{data[2]}
%span#last{"data-last"=>"#{@last}"}
